.headLine {
  background-image: linear-gradient(
    to right top,
    rgb(22, 23, 97, 0.8),
    rgb(25, 30, 124, 0.8),
    rgb(27, 37, 153, 0.8),
    rgb(27, 45, 182, 0.8),
    rgb(25, 53, 213, 0.8),
    rgb(0, 82, 230, 0.8),
    rgb(0, 108, 244, 0.8),
    rgb(0, 132, 255, 0.8),
    rgb(0, 166, 255, 0.8),
    rgb(0, 193, 255, 0.8),
    rgb(0, 215, 232, 0.8),
    rgb(1, 234, 204, 0.8)
  );
}

.headLine h1 {
  font-family: var(--main-font-family);
  text-align: center;
  margin-top: 10rem;
  letter-spacing: 2px;
  font-size: 4rem;
  padding-top: 3.5rem;
}

.headLine .video {
  text-align: center;
  margin-top: 5rem;
}
.headLine  .fabio-video {
  padding-bottom: 3.5rem;
}
