.container-contact {
  margin-right: 18rem;
  margin-left: 18rem;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.left img {
  width: 15%;
}
.left p {
  display: block;
}
.right img {
  width: 15%;
}
