.container-contact {
  margin-right: 18rem;
  margin-left: 18rem;
}
.container-contact p {
  margin: 0.5rem;
}
.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--main-font-family);
}
.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--main-font-family);
}
.left img {
  width: 15%;
}
.left p {
  display: block;
}
.right img {
  width: 15%;
}
