@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap%22");

:root {
  --main-font-family: "Poppins", sans-serif;
  --primary-color: rgb(200, 249, 220);
  --secondary-color: rgba(155, 193, 250, 1);
}

*{
  font-family: var(--main-font-family);
}

body {
  background: white;
}

.youtube-container{
  margin-top: 5rem;
}


.loading-animation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
