@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap%22");

:root {
  --main-font-family: "Poppins", sans-serif;

  --primary-color: rgb(200, 249, 220);
  --secondary-color: rgba(155, 193, 250, 1);
  --third-color: #6a00ff;
}

body {
  background: var(--primary-color);
  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
}
