@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap%22");

:root {
  --main-font-family: "Poppins", sans-serif;
  --primary-color: rgb(200, 249, 220);
  --secondary-color: rgba(155, 193, 250, 1);
}

* {
  font-family: var(--main-font-family);
}

/* --------------------Hide the scrollbar --------------------*/
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
}

body {
  background: white;
  margin: 0;
}

.youtube-container {
  margin-top: 5rem;
}

.loading-animation {
  margin-block: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

footer {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 10px;
  padding-block: 0.3rem;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}
